section.sidebar {
    border: solid 1px $medium-blue;
    border-radius: 0.2rem;
    padding: 20px;
    font-size: 0.8rem;
    ul {
        padding: 0;
        list-style: none;
        h3 {
            font-weight: bold;
            text-transform: uppercase;
            margin: 1.5rem 0 0.2rem 0;
        }
        li {
            padding: 0 10px;
            &.active {
                border-left: 3px solid $medium-blue;
                font-weight: bold;
                padding-left: 7px;
            }
        }
    }
}
