.main-content {
    padding: 10px;
    margin-left: $sidebar-width;
    margin-right: $sidebar-width;
    h1, h2, h3, h4, h5, h6 {
        color: $medium-blue;
    }
    h1:first-of-type {
        margin-top: 0;
    }
}
