.content {
    @media screen and (min-width: 3 * $min-sidebar-width) {
        display: flex;
    }

    section.main-content {
        h1, h2, h3, h4, h5, h6 {
            color: $medium-blue;
        }
        h1:first-of-type {
            margin-top: 0;
        }
    }
}