html {
    height: 100%;
    body {
        height: 100%;
        display: flex;
        flex-direction: column;    
        .content {
            @media screen and (min-width: 3 * $min-sidebar-width) {
                display: flex;
                flex: 1;
                flex-direction: row;
                align-items: stretch;
            }
            section.main-content {
                flex: 1;
                min-height: $min-sidebar-width;
                h1, h2, h3, h4, h5, h6 {
                    color: $medium-blue;
                }
                h1:first-of-type {
                    margin-top: 0;
                }
            }
        }
    }
}
